
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# DS_Store
.DS_Store

# .env.local
.env.local
.env.test

# Jetbrains
.idea/

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem

# Do not ignore those files
!/config/jwt/public-test.pem
!/config/jwt/private-test.pem
###< lexik/jwt-authentication-bundle ###
